################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/lab.api/.vs/lab.api
/lab.api/bin/Debug/net7.0
/lab.api/obj
/lab.api/.vs/ProjectEvaluation
